.tmp/
zig-out/
zig-cache/
.zig-cache/
generated/
src/generated_keys.zig
src/pebble/c.zig
stubs/
examples/*/build/
examples/*/zig-out/
examples/*/zig-cache/
examples/*/.zig-cache/
examples/*/generated/
examples/*/src/generated_keys.zig
examples/*/.lock-waf_linux_build
examples/*/node_modules/
.idea/